.page-counter {
    margin-top: -150px;
    font-size: 1.2em;
    color: #333;
    position: relative;
    animation: fade-in 0.5s ease-in-out;
  }
  
  .toggle-button {
    width: 200px;
    height: 50px;
    border: none;
    background: #04befe;
    color: #fff;
    font-size: 1.2em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
    margin-top: 30px;
  }
  
  .toggle-button:hover {
    background: #ff5edf;
    cursor: pointer;
  }
  
  .page-counter::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #04befe;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }
  
  .page-counter:hover::after {
    transform: scaleX(1);
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  